# Maven
target/

# Gradle
.gradle/

# Eclipse
.settings/
.project
.classpath

# misc. testing
tmp/
log/
test-output/

# OSX
.DS_Store

# lang cy
*.pyc
*.dict 
*.lextxt 
*.lexicon 
*.list 
marytts-languages/marytts-lang-cy/target/* 
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/*.txt
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/*.fst
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/*.lts
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/*.g2p
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/geiriadur-ynganu-bangor
.java/
.m2/
.*history
.ssh/*
voice-*
