# Maven
target/

# Gradle
.gradle/

# Eclipse
.settings/
.project
.classpath

# misc. testing
tmp/
log/
test-output/

# OSX
.DS_Store

# lang cy
*.dict 
*.lextxt 
*.lexicon 
*.list 
marytts-languages/marytts-lang-cy/target/* 
marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/*.txt
marytts-languages/marytts-lang-cy/scripts/alt-cleantext/*
wikidump/*
.java/
.m2/
.*history
.ssh/*
